[Unit]
Description=Donalo Unicorn app server

[Service]
Type=simple
SyslogIdentifier=donalo-unicorn
User=donalo
PIDFile={{ shared_path }}/pids/unicorn.pid
WorkingDirectory={{ current_path }}
EnvironmentFile=-/etc/default/donalo

ExecStart=bundle exec unicorn -c {{ current_path }}/config/unicorn.rb -E {{ rails_environment }}
ExecReload=/bin/kill -s USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
