[Unit]
Description=Donalo Unicorn app server

[Service]
Type=simple
SyslogIdentifier=donalo-unicorn
User=donalo
PIDFile={{ pids_path }}/unicorn.pid
WorkingDirectory={{ current_path }}
EnvironmentFile=-/etc/default/donalo

ExecStart=/home/donalo/.rbenv/bin/rbenv exec bundle exec unicorn -c config/unicorn.rb -E {{ rails_environment }}
ExecReload=/bin/kill -s USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
