{% if rails_environment is defined %}
RAILS_ENV={{ rails_environment }}
{% endif %}

DATABASE_NAME={{ database_name }}
DATABASE_USER={{ database_user }}
DATABASE_PASSWORD={{ database_password }}

SECRET_KEY_BASE={{ secret_key_base }}

SMTP_EMAIL={{ smtp_email }}
SMTP_USERNAME={{ smtp_username }}
SMTP_PASSWORD={{ smtp_password }}
SMTP_DOMAIN={{ smtp_domain }}

redis_host=localhost
redis_port=6379
redis_db={{ database_name }}
