{% if rails_environment is defined %}
RAILS_ENV={{ rails_environment }}
{% endif %}

DATABASE_NAME={{ database_name }}
DATABASE_USER={{ database_user }}
DATABASE_PASSWORD={{ database_password }}

SECRET_KEY_BASE={{ secret_key_base }}

{% if smtp_email is defined %}
mail_delivery_method="smtp"
{% endif %}
smtp_email_address={{ smtp_domain }}
smtp_email_user_name={{ smtp_username }}
smtp_email_password={{ smtp_password }}
smtp_email_domain={{ inventory_hostname }}
smtp_email_port=25

redis_host=localhost
redis_port=6379
redis_db={{ database_name }}
